body {
  padding: 30px;
}

:not(:defined) {
  visibility: hidden;
}

sl-input,
sl-select,
sl-radio-group,
sl-button,
sl-alert {
  margin-bottom: 15px;
}

sl-switch {
  margin-left: 20px;
}

sl-radio-group {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-left: 20px;
  vertical-align: top;
}

sl-select,
sl-input {
  display: inline-block;
  margin-left: 20px;
  width: 250px;
}

sl-drawer sl-input {
  width: 100%;
  margin: 0 0 20px 0;
}

.drawer-section {
  position: relative;
  padding: 10px;
  border: 1px solid #aaaaaa;
}
